.ocwdd-container h2 {
    display: block;
    font-size: 18px !important;
    color: #000;
    text-transform: uppercase;
    font-weight: 700 !important;
}
p.ocwdd-heading {
    font-size: 20px !important;
    font-weight: 600;
    margin: 0;
}
.ocwdd-inner-block {
    margin-top: 10px;
}
.ocwdd-inner-block ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ocwdd-inner-block ul.tabs li{
    background: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 0;
    border: 1px solid #ccc;
    margin-left: 0px;
    margin-right: 2px;
    background-color:#494d4e;
    color: #fff;
    font-size: 13px;
    padding: 7px 20px;
    border: 0;
}
.ocwdd-inner-block ul.tabs li.current{
    color: #222;
    border: 1px solid #d8d8d8;
    background: #fff;
    border-bottom: 0px;
}
.ocwdd-inner-block .tab-content{
    display: none;
    padding: 15px;
}
.ocwdd-inner-block .tab-content.current{
    display: inherit;
    border: 1px solid #d8d8d8;
}
p.ocwdd-tips {
    margin: 2px 0 5px !important;
    color: #666;
    font-size: 12px !important;
    font-style: italic;
}
input#ocwdd-btn-space {
    margin: 25px 0px;
}
.ocwdd_delivery_date_admin strong {
    color: #000;
}

/* Date Picker*/
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-widget-header a {
    color: #333333;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-widget-header .ui-icon {
    background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}